# This is our manually-curated lists of requirements.
#
# This is more complete than the install_requires list used by setup.py for
# the package (which only contains the bare minimal dependencies required
# by LEAP's core features).
--index-url https://pypi.python.org/simple/

-e .

click
coveralls
dask
distributed
flake8
gymnasium
jupyter
matplotlib
nbconvert
nbformat
networkx
numpy
pandas
Pillow
pytest
pytest-cov
python-coveralls
rich
seaborn
sphinx
sphinx_rtd_theme
toolz
